<!DOCTYPE html>
<html lang="en">

    <%- include('./sections/head.ejs') %> 

<body>
<div class="container">
 
    <%- include('./sections/header.ejs') %> 

   <div class="main">
       <h1 class="reviews-comments">Reviews/Comments</h1>
    <div class="reviews">

        <% reviews.forEach((review)=>{%>
        <% if(reviews.length > 0){ %> 
       
        <h3> Name: <%= review.name %> </h3>
        <h3>Plate of Choice: <%= review.choice %> </h3>
        <p>Review: <%= review.body %> </p>

       <% } else {%>  
       <p> There is no review left</p>
       <% } %> 
      <% }) %> 

    </div>
           
    </div>

    <%- include('./sections/footer.ejs') %>
    

</div>
<script src="./menu.js"></script>
</body>
</html>